.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 30px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;

  &.--default {
    background-color: #33C3F0;
    border: 1px solid #33C3F0;

    &:hover {
      background-color: #58d8ff;
      border-color: #58d8ff;
    }
  }

  &.--danger {
    background-color: #ff3860;
    border: 1px solid #ff3860;

    &:hover {
      background-color: #ff6887;
      border-color: #ff6887;
    }
  }

  &.--warning {
    background-color: #ffdd57;
    border: 1px solid #ffdd57;

    &:hover {
      background-color: #ffe682;
      border-color: #ffe682;
    }
  }

  &:hover {
    transition: all 0.2s ease;
  }

  &__text {
    color: #FFF;
    letter-spacing: 0.5px;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    font-size: 14px;
  }

  &[disabled] {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
  }
}