.article__links {
  margin: 30px 0;
  padding-left: 0;
  list-style-type: none;

  &-item {
    display: flex;
    align-items: center;

    .input {
      flex: 1 1 0;
      margin-bottom: 0;
    }
  }

  &-del {
    flex: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    border: 0;
    font-size: 20px;
    background-color: transparent;
  }
}