.header {
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 2000;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
  padding: 0 20px;
  display: flex;
  align-items: center;

  &__search {
    position: relative;
    width: 100%;
    max-width: 350px;

    & > .input {
      margin-bottom: 0;

      .input__text {
        border-bottom-color: transparent;

        &:focus,
        &:active {
          border-bottom-color: #ebebeb;
        }
      }
    }
  }
}