.section {
  min-height: calc(100vh - 65px);
  grid-area: section;
  position: relative;
  z-index: 1000;
  background-color: #fff;

  .actions {
    padding: 30px 30px 20px;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    position: sticky;
    top: 50px;
    z-index: 20;
    background-color: #fff;

    .button {
      margin-right: 15px;
    }
  }
}

.article {
  padding: 30px 30px 100px;
  max-width: 1000px;
  margin: 0 auto;
  line-height: 26px;

  .ProseMirror {
    outline: none;
    padding-top: 20px;

    h2 {
      font-size: 22px;
      margin: 40px 0 10px;
      font-weight: 600;
    }
  
    h3 {
      font-size: 18px;
      margin: 30px 0 0;
      font-weight: 600;
    }
  
    p {
      margin-bottom: 20px;
    }
  
    a {
      color: #767676;
  
      &:hover {
        text-decoration: underline;
      }
    }
  
    ul, ol {
      margin: 20px 0;
      padding-left: 50px;
    }
  
    ul {
      list-style-type: disc;
    }
  
    li > p {
      margin-bottom: 0;
    }
  
    code {
      font-size: 14px;
      font-weight: 600;
      color: #343030;
    }
  
    pre {
      margin: 20px 0;
      padding: 20px 25px;
      border: 2px dashed #767676;
      background-color: #fffaed;
    }
  
    blockquote {
      margin: 50px 0 50px 50px;
      border-left: 3px solid #343030;
      padding: 10px 20px 10px 30px;
      font-style: italic;
      font-size: 18px;
      line-height: 30px;
      max-width: 750px;
  
      p:last-child {
        margin-bottom: 0;
      }
    }

    & > *:first-child {
      margin-top: 0;
    }
  }

  &__title {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 600;
    line-height: 42px;
    outline: none;
    border: 0;
    width: 100%;
    display: block;
    font-family: 'Source Serif 4', sans-serif;
  }

  &__footer {
    margin: 30px 0;

    &-heading {
      font-weight: 600;
      font-style: italic;
      margin-bottom: 10px;
      font-size: 18px;
    }

    &-links {
      padding-left: 20px;
      list-style-type: disc;
    }

    &-link {
      color: #767676;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}