.main {
  font-family: 'Source Serif 4', sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 65px 1fr;
  grid-template-columns: 250px 1fr;
  grid-template-areas: 'sidebar header'
                       'sidebar section';
}

code,
pre,
input,
textarea,
.button {
  font-family: 'JetBrains Mono', monospace;
}

input,
textarea,
.button {
  font-weight: 600;
  font-size: 14px;
}
